
#valine-vuepress-comment {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 20px;
}

.sidebar > .sidebar-links > li > a.sidebar-link {
    font-size: 0.9em!important;
}

a.sidebar-link {
    font-size: 0.8em!important;
}
